@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-ExtraLight.ttf');
  font-weight: extralight;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-ExtraLightItalic.ttf');
  font-weight: extralight;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-Light.ttf');
  font-weight: light;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-LightItalic');
  font-weight: light;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-Text.ttf');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-Italic.ttf');
  font-weight: normal;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-Medium.ttf');
  font-weight: medium;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-MediumItalics.ttf');
  font-weight: medium;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.ttf');
  font-weight: semi-bold;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-SemiBoldItalics.ttf');
  font-weight: semi-bold;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-Bold.ttf');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('@assets/fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.ttf');
       font-weight: bold;
  font-weight: 700;
  font-style: italic;
}
